<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Merged code from sources</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		<!-- CSS -->
  	<link rel="stylesheet" href="css/main.css" type="text/css" media="screen" >

	</head>

	<body>
		<div class="originals"></div>
		<div class="accelerometer"></div>
		<div class="filter"></div>
		
<!-- 		<div class="debugger2"></div> -->
		<!-- <div id="networkId"></div> -->
<!-- 
		<div class="debugger"></div>-->

		<!-- <div class="viewport"></div> -->
		<script src="http://cdn.peerjs.com/0.3/peer.js"></script>
		<script src="js/libs.js"></script>
		<script src="js/leap/leap-0.6.4.js"></script>
		<script src="js/leap/leap-plugins-0.1.10.js"></script>
		<script src="js/leap/leap.networking-0.1.0.js"></script>
		<script src="js/leap/leap.rigged-hand-0.1.7.js"></script>
		<script src="js/kalman/sylvester.src.js"></script>
		<script src="js/kalman/kalman.js"></script>
		<script src="js/kalman/kalmanFilter.js"></script>
		<script src="js/renderer/StereoEffect.js"></script>
		<script src="js/renderer/DeviceOrientationControls.js"></script>
		<script src="js/build.js"></script>
	
	</body>			
</html>